In [2]:
import os
import tarfile
import urllib

In [13]:
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
DATA_DIR = "data"
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

In [14]:
def fetch_housing_data(housing_url=HOUSING_URL, data_dir=DATA_DIR):
    if not data_dir in os.listdir():
        os.mkdir(data_dir)
    tgz_path = os.path.join(data_dir, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=data_dir)
    housing_tgz.close()

In [ ]:
#getting the data
fetch_housing_data()

In [16]:
import pandas as pd

In [17]:
def load_housing_data(data_dir=DATA_DIR):
    csv_path = data_dir + "/housing.csv"
    return pd.read_csv(csv_path)

In [20]:
housing = load_housing_data()
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

* We can observe that we have a dataset that brings us some informations about the housing data, such as location, age, rooms information, values, etc.

In [21]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

* We only have null values in total_bedrooms column